# -Indexing

In [1]:
a="samosa pakora"
a

'samosa pakora'

In [2]:
# length of indeces
len(a)

13

In [3]:
a[0]

's'

In [4]:
a[2]

'm'

In [5]:
a[6]

' '

In [6]:
a[8]

'a'

In [7]:
a[0:5]

'samos'

In [8]:
# last index is exclusive
a[0:6]

'samosa'

In [9]:
a[0:13]

'samosa pakora'

In [10]:
a[-1]

'a'

In [11]:
a[-1:-6]

''

In [12]:
a[-6:-1]

'pakor'

In [13]:
a[-6:13]

'pakora'

In [14]:
food="biryani"
food

'biryani'

# string methods

In [15]:
food

'biryani'

In [16]:
len(food)

7

In [17]:
# Capitalize every element
food.capitalize()

'Biryani'

In [18]:
#Uppercase letter
food.upper()

'BIRYANI'

In [19]:
#Lowercase letter
food.lower()

'biryani'

In [20]:
#replace
food.replace("b","sh")

'shiryani'

In [21]:
#counting a specific alphabit in a string
name="baba_dr_Aammar tufail"
name

'baba_dr_Aammar tufail'

In [22]:
name.count("a")

5

### Finding an index numbers in string

In [23]:
name.find("t")

15

In [24]:
# how to split a string 
food="I love samosa, pakora, raita, biryani, and karahi"
food

'I love samosa, pakora, raita, biryani, and karahi'

In [25]:
food.split(",")

['I love samosa', ' pakora', ' raita', ' biryani', ' and karahi']

## Basic data structure in Python

### 1. Tuple

### 2. List

### 3. Dictionaries

### 4. Set

## 1-Tuple
- Ordered collections of elements
- Enclosed in () round braces/ paranthesis
- Different kind of eiement can be stored
- Onec elements are stored you can not change them (unmutatable)

In [26]:
tup1 = (1, "python", True,2.5)
tup1

(1, 'python', True, 2.5)

In [27]:
# type of tuple
type(tup1)

tuple

### - Indexing in tuple

In [28]:
tup1[0]

1

In [29]:
tup1[2]

True

In [30]:
# last element is exclusive
tup1[0:3]

(1, 'python', True)

In [31]:
len(tup1)

4

In [32]:
tup2=(2,"babaAammar", 3.5, False )
tup2

(2, 'babaAammar', 3.5, False)

In [33]:
#concatinate(to add two tuple or >2)
tup1+tup2

(1, 'python', True, 2.5, 2, 'babaAammar', 3.5, False)

In [34]:
#concatinate+repeat
tup1*2+tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'babaAammar', 3.5, False)

In [35]:
tup3=(20,30,40,50,60)
tup3

(20, 30, 40, 50, 60)

In [36]:
#maximum value in tuple
max(tup3)

60

In [37]:
min(tup3)

20

In [38]:
tup3*2

(20, 30, 40, 50, 60, 20, 30, 40, 50, 60)

---

## 2- List
- ordered collection of elements
- enclosed in [  ] square braces/bracket
- mutateable, you can change the value

In [39]:
list1=[2, "babaAammar",False]
list1

[2, 'babaAammar', False]

In [40]:
type(list1)

list

In [41]:
len(list1)

3

In [42]:
list1[2]

False

In [43]:
list2=[3,5,"Aammar","Codanics",478,53.2,False]
list2

[3, 5, 'Aammar', 'Codanics', 478, 53.2, False]

In [44]:
list1+list2

[2, 'babaAammar', False, 3, 5, 'Aammar', 'Codanics', 478, 53.2, False]

In [45]:
list1*2

[2, 'babaAammar', False, 2, 'babaAammar', False]

In [46]:
list1

[2, 'babaAammar', False]

In [47]:
list1.reverse()
list1

[False, 'babaAammar', 2]

In [48]:
list1

[False, 'babaAammar', 2]

In [52]:
list1.append("python with codanics")
list1

[False,
 'babaAammar',
 2,
 'python with codanics',
 'python with codanics',
 'python with codanics',
 'python with codanics']

In [57]:
list1.count("python with codanics")

4

In [58]:
list3=[20,30,40,50,60,73,81]
list3

[20, 30, 40, 50, 60, 73, 81]

In [59]:
len(list3)

7

In [60]:
#sorting a list
list3.sort()
list3

[20, 30, 40, 50, 60, 73, 81]

## 3- dictionaries
- An unordered collections of elements
- key and value
- curly braces/brackets{}
- mutateable/change the values

In [61]:
#Food and their prices
food1={"samosa":30,"pakora":40,"raita":20,"salad":50,"chicken roll":30}
food1

{'samosa': 30, 'pakora': 40, 'raita': 20, 'salad': 50, 'chicken roll': 30}

In [62]:
type(food1)

dict

In [64]:
#extract data
keys1=food1.keys()
keys1

dict_keys(['samosa', 'pakora', 'raita', 'salad', 'chicken roll'])

In [66]:
values1=food1.values()
values1

dict_values([30, 40, 20, 50, 30])

In [67]:
#adding new elements
food1["tikki"]=10
food1

{'samosa': 30,
 'pakora': 40,
 'raita': 20,
 'salad': 50,
 'chicken roll': 30,
 'tikki': 10}

In [68]:
#update the values
food1["tikki"]=15
food1

{'samosa': 30,
 'pakora': 40,
 'raita': 20,
 'salad': 50,
 'chicken roll': 30,
 'tikki': 15}

In [69]:
food2={"dates":50,"choculate":200,"swayyan":1000}
food2

{'dates': 50, 'choculate': 200, 'swayyan': 1000}

In [71]:
#concatinate
food1.update(food2)

In [72]:
food1

{'samosa': 30,
 'pakora': 40,
 'raita': 20,
 'salad': 50,
 'chicken roll': 30,
 'tikki': 15,
 'dates': 50,
 'choculate': 200,
 'swayyan': 1000}

## 4- Sets
- unordered and unindexed
- curly braces are used {}
- No duplicates allowed

In [73]:
s1 = {1,2,3.4,"baba","python","codanics",True}
s1

{1, 2, 3.4, 'baba', 'codanics', 'python'}

In [74]:
s1.add("baba")